<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryst.portraitlock</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.ryst.portraitlock/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lock orientation</string>
			<key>footerText</key>
			<string>Rotation lock will be automatically enabled when selected apps are opened.

Landscape left = home button on right edge
Landscape right = home button on left edge</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Portrait</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.ryst.portraitlock/settingschanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>lock-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.ryst.portraitlock.plist</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Landscape left</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.ryst.portraitlock/settingschanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>lock3-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.ryst.portraitlock.plist</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Landscape right</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.ryst.portraitlock/settingschanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>lock4-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.ryst.portraitlock.plist</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Unlock orientation</string>
			<key>footerText</key>
			<string>Rotation lock will be automatically disabled when selected apps are opened.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Unlocked</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.ryst.portraitlock/settingschanged</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>lock0-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.ryst.portraitlock.plist</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Clear all selected apps for all modes.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset settings</string>
			<key>action</key>
			<string>resetSettings</string>
		</dict>

		<dict>
			<key>id</key>
			<string>iOS7-springboardLockGroup</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SpringBoard orientation</string>
			<key>footerText</key>
			<string>Lock SpringBoard orientation. Device must be put to sleep before setting takes effect.</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ipad</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>iOS7-springboardLockValue</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.ryst.portraitlock</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>springboard-lock</string>
			<key>label</key>
			<string>Orientation</string>
			<key>validTitles</key>
			<array>
				<string>Unlocked</string>
				<string>Portrait</string>
				<string>Portrait upside down</string>
				<string>Landscape left</string>
				<string>Landscape right</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<key>requiredCapabilities</key>
			<array>
				<string>ipad</string>
			</array>
			<key>PostNotification</key>
			<string>com.ryst.portraitlock/settingschanged</string>
		</dict>

		<dict>
			<key>id</key>
			<string>iOS8-springboardLockGroup</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SpringBoard orientation</string>
			<key>footerText</key>
			<string>Lock SpringBoard orientation. Respring required.</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ipad</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<string>iOS8-springboardLockValue</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryst.portraitlock</string>
			<key>key</key>
			<string>springboard-lock-ios8</string>
			<key>label</key>
			<string>Locked</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ipad</string>
			</array>
			<key>PostNotification</key>
			<string>com.ryst.portraitlock/settingschanged</string>
		</dict>
		<dict>
			<key>id</key>
			<string>iOS8-springboardLockRespring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
			<key>requiredCapabilities</key>
			<array>
				<string>ipad</string>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>If you like this tweak, please consider making a donation. Thanks!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>action</key>
			<string>donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>PortraitLock</string>
</dict>
</plist>

